<h2>Details on Selected Movie</h2>
<!-- <h3 class="your-movies-subheading">Click on a movie to edit it</h3> -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year Released</th>
      <th>Director</th>
      <th>MPAA Rating</th>
      <th>IMDB Rating</th>
      <th>Personal Rating</th>
      <th>Method of ownership</th>
      <th>Last time viewed</th>
      <th>Number of times watched</th>
      <th>Length (min)</th>
    </tr>
  </thead>
  <tbody class="all-movies-table">

    {{#each movies as |movie|}}

    <tr data-id="{{movie.id}}">
      <td data-id="{{movie.id}}">{{movie.name}}</td>
      <td data-id="{{movie.id}}">{{movie.year_released}}</td>
      <td data-id="{{movie.id}}">{{movie.director}}</td>
      <td data-id="{{movie.id}}">{{movie.mpaa_rating}}</td>
      <td data-id="{{movie.id}}">{{movie.imdbRating}}</td>
      <td data-id="{{movie.id}}">{{movie.user_rating}}</td>
      <td data-id="{{movie.id}}">{{movie.ownership_type}}</td>
      <td data-id="{{movie.id}}">{{movie.last_viewing}}</td>
      <td data-id="{{movie.id}}">{{movie.times_watched}}</td>
      <td data-id="{{movie.id}}">{{movie.length}}</td>
        <!-- <li><button class="remove-book" data-id="{{movie.id}}">Remove</button></li> -->

    {{/each}}

  </tbody>
</table>

<form id="update-movie" data-id="{{movie.id}}">
  <fieldset>
    <p class="delete-update-instructions">Use the form below to update information about the movie or delete
    it from your database</p>
    <input type="text" name="movie[name]" placeholder="Title">
    <input type="text" name="movie[year_released]" placeholder="Year Released">
    <input type="text" name="movie[director]" placeholder="Director">
    <input type="text" name="movie[mpaa_rating]" placeholder="MPAA Rating">
    <input type="text" name="movie[imdbRating]" placeholder="IMDB Rating">
    <input type="text" name="movie[user_rating]" placeholder="Personal Rating">
    <input type="text" name="movie[ownership_type]" placeholder="Method of ownership">
    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  name="movie[last_viewing]" placeholder="Last time viewed">
    <input type="text" name="movie[times_watched]" placeholder="Times watched">
    <input type="text" name="movie[length]" placeholder="Length (min)"><br>
    <input type="submit" name="submit" value="Update Movie Information">
  </fieldset>
</form>
<form id="delete-movie" data-id="{{movie.id}}">
  <fieldset>
    <input type="submit" name="submit" value="Delete this movie">
  </fieldset>
</form>
