{{#each movies as |movie|}}

<tr data-id="{{movie.imdbID}}">
  <td data-id="{{movie.imdbID}}">{{movie.Title}}</td>
  <td data-id="{{movie.imdbID}}">{{movie.Released}}</td>
  <td data-id="{{movie.imdbID}}">{{movie.Rated}}</td>
  <td data-id="{{movie.imdbID}}">{{movie.Runtime}}</td>
  <td data-id="{{movie.imdbID}}">{{movie.Director}}</td>
  <td data-id="{{movie.imdbID}}">{{movie.Plot}}</td>
  <td data-id="{{movie.imdbID}}">{{movie.imdbRating}}</td>
  <td data-id="{{movie.imdbID}}">{{movie.BoxOffice}}</td>

{{/each}}
